<div class="container dashboard">
  <div class="row auto-mx">
    <header class="header text-center">Welcome, {{currentUser.username}}.</header>
    <form class="driver-form">
      <h3 class="text-center">Create a Ride</h3>
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
          <div class="input-group mb-3 col">
            <select class="form-control" placeholder="Pick-Up Location" id="pickup" aria-label="Pick-Up">
              {{#each locations as |location|}}
              <option value="{{location.name}}">{{location.name}}</option>
              {{/each}}
            </select>
            <span class="input-group-text">add</span>
            <select class="form-control" placeholder="destination Location" id="destination" aria-label="destination">
              {{#each locations as |location|}}
              <option value="{{location.name}}">{{location.name}}</option>
              {{/each}}
            </select>
          </div>
          <br />
          <div class="row">
            <div class="col-4"></div>
            <div class="mb-3 col-4 mx-auto">
              <div class="input-group">
                <span class="input-group-text">$</span>
                <input type="number" min="0" class="form-control" id="price" placeholder="Price"
                  aria-label="Amount (to the nearest dollar)" />
                <span class="input-group-text">.00</span>
              </div>
            </div>
            <div class="col-4"></div>
          </div>
          <div class="row">
            <div class="col-5"></div>
            <div class="col-2">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="# of Seats" id="num_seats" aria-label="Seats" />
              </div>
            </div>
          </div>
          <br />
          <div class="mb-3 col">
            <label for="exampleFormControlTextarea1" class="form-label">Description:</label>
            <textarea class="form-control" id="description" placeholder="Rules, time, number of stops, etc..."
              rows="3"></textarea>
          </div>
          <br />
          <div class="d-grid gap-2 col-2 mx-auto">
            <button type="submit" class="btn btn-danger" id="join-btn">Create</button>
          </div>
        </div>
        <div class="col-2"></div>
      </div>
    </form>
  </div>
  <div class="col-7 list-col mx-auto mt-5">
    <h2 class="text-center m-3">Your Ride List</h2>
    {{#each currentUserRides as |ride|}}
    <div class="card">
      <div class="card-header text-center">
        <p class="ride-info"><strong>{{ride.pickup}}</strong> to <strong>{{ride.destination}}</strong></p>
      </div>
      <div class="card-body text-center">
        <p class="ride-info">Driver: {{ride.driver_name}} - Price: ${{ride.price}} - Number of Passengers:
          {{ride.num_seats}}</p>
        <div class="form-floating">
          <textarea readonly='true' class="form-control" placeholder="No Description" id="floatingTextarea2"
            style="height: 100px">{{ride.description}}</textarea>
          <label for="floatingTextarea2">Description:</label>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  <input type="text" class="form-control display-none" value={{currentUser.username}} id="user">
</div>

<script src="js/driver-dashboard.js"></script>

<footer class="footer">
  <div class="content text-center">
    <p>
      <strong>Long Rides</strong> by Andrew Wilson, Erin Lim, Rico Perez, Einstein Dalmau and Michael Smith.<br> The
      source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
    </p>
  </div>
</footer>